body{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: rgb(174, 181, 219);
    padding: 6px;
    
}

.active-link{
    background-color: rgba(99, 122, 199, 0.603);
    padding: 5px;
    border-radius: 20px;
    transition: 0.3s ease-out;
    text-decoration: none;
}